version: 2
jobs:
  test:
    docker:
      - image: circleci/node:13.10.1
    working_directory: ~/app
    steps:
      - checkout
      - run: yarn install --non-interactive
      - run: yarn lint

  publish_package:
    docker:
      - image: circleci/node:13.10.1
    steps:
      - checkout
      - run: yarn install --non-interactive
      - run:
          name: npm publish
          command: |
            echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > .npmrc
            npm publish

workflows:
  version: 2
  test_and_deploy:
    jobs:
      - test
      - publish_package:
          requires:
            - test
          filters:
            branches:
              only:
                - master
